**__pycache__/
scratch/
**/scratch/
*.egg-info/
**build/
**dist/
# **results/
results/*
runs/*
cache/*
!results/timing/
!results/kernels/
!results/saved_results/
.env
private_setup.sh
sakana_test/cuda
